.burger-menu {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  display: flex;
  transition: 0.4s;
}
.burger-menu__empty {
  height: 100%;
  width: 40%;
}
.burger-menu__main {
  background-color: aqua;
  height: 100%;
  width: 60%;
}
.active-transform {
  transform: translateX(0);
}
body {
  overflow: hidden;
}
